---
### -- We are exposing only the keys that BigBang overrides from the upstream chart. 
### Please refer to the upstream chart via "helm show values ./chart/charts/<upstream-package.tar.gz>" for other value configs.
### @default -- Upstream chart values
upstream:
  nameOverride: "gitlab-ci-pipelines-exporter"

  image:
    # image.repository -- image repository
    repository: "registry1.dso.mil/ironbank/opensource/gitlab-ci-pipelines-exporter"
    tag: "v0.5.10"

  # -- Custom labels to add into metadata
  #customLabels: {}
    # app: gitlab-ci-pipelines-exporter

  # securityContext -- security context to apply to the pods
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context
  # BIG BANG ADDITIONS
  securityContext:
    # runAsUser: 65534  # run as nobody user
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    enabled: true
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000

  # containerSecurityContext -- security context to apply to the containers
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    enabled: true
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000

  # config -- configuration of the exporter
  config:
    # # Complete configuration syntax reference available here:
    # # https://github.com/mvisonneau/gitlab-ci-pipelines-exporter/blob/master/docs/configuration_syntax.md
    gitlab:
      url: "http://gitlab-webservice-default.gitlab.svc.cluster.local:8181"
      enable_health_check: false
      health_url: http://gitlab-webservice-default.gitlab.svc.cluster.local:8181
    project_defaults:
      pull:
        refs:
          tags:
            most_recent: 1
          merge_requests:
            enabled: true
            max_age_seconds: 28800
    projects:
      #- name: test/test1
      #  pull:
      #    pipeline:
      #      jobs:
      #        enabled: true
      #    refs:
      #      merge_requests:
      #        enabled: true
      #        max_age_seconds: 43200

  # -- name of a `Secret` containing the GitLab token in the `gitlabToken` field (required unless `config.gitlab.token` is specified)
  #gitlabSecret: ""
  # -- Use the below gitlabSecret if enabling a fresh deployment with gitlab
  gitlabSecret: "gitlab-ci-exporter-token"

  ## Manage a ServiceMonitor resource to automatically configure the endpoint
  ## through the Prometheus operator: https://github.com/coreos/prometheus-operator
  serviceMonitor:
    # serviceMonitor.enabled -- deploy a serviceMonitor resource
    enabled: false

    # serviceMonitor.endpoints -- endpoints configuration for the monitor
    endpoints:
      - port: http
        interval: 10s
        scheme: "https"
        tlsConfig:
          caFile: /etc/prom-certs/root-cert.pem
          certFile: /etc/prom-certs/cert-chain.pem
          keyFile: /etc/prom-certs/key.pem
          insecureSkipVerify: true

  redis:
    # redis.enabled -- deploy a redis statefulset
    enabled: false

## Big bang additions
domain: dev.bigbang.mil

# Spin up a redis pod using the bigbang redis chart
# https://repo1.dso.mil/big-bang/product/packages/redis
# NOTE: Disabled redis-bb due to version clashing on helper template with gitlab. See implementation below commented section.
redis-bb:
  enabled: true
  cleanUpgrade:
    enabled: true
  networkPolicies:
    enabled: true

  # pass throughs to BigBang's redis
  # https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/redis/-/blob/main/chart/values.yaml
  upstream:
    auth:
      enabled: false
    global:
      imagePullSecrets:
      - private-registry

    install: true
    architecture: standalone
    cluster:
      enabled: false
    metrics:
      enabled: true
      image:
        registry: registry1.dso.mil
        repository: ironbank/bitnami/analytics/redis-exporter
        tag: v1.80.0
        pullSecrets: []
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 250m
          memory: 256Mi
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
        capabilities:
          drop:
            - ALL
    serviceAccount:
      automountServiceAccountToken: false
    securityContext:
      runAsUser: 1001
      fsGroup: 1001
      runAsNonRoot: true
    image:
      registry: registry1.dso.mil
      repository: ironbank/bitnami/redis
      tag: 8.2.3
      pullSecrets:
      - private-registry
    master:
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 250m
          memory: 256Mi
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
        capabilities:
          drop:
            - ALL
    sentinel:
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 250m
          memory: 256Mi
    volumePermissions:
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 250m
          memory: 256Mi
    sysctlImage:
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 250m
          memory: 256Mi

# Set this to `true` if using a fresh bigbang gitlab deployment, this will enable copying over the token
# defined from a gitlab hook job with GCPE enabled.
gcpeJob:
  enabled: false
  image:
    repository: registry1.dso.mil/ironbank/gitlab/gitlab/kubectl
    tag: 18.5.2
    pullSecrets:
    - name: private-registry
    securityContext:
      runAsUser: 65534
      runAsGroup: 65534

istio:
  enabled: false
  hardened:
    enabled: false
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
    gitlab:
      enabled: true
      namespaces:
        - gitlab
    monitoring:
      enabled: false
      namespaces:
        - monitoring
      principals:
        - cluster.local/ns/monitoring/sa/monitoring-grafana
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-kube-alertmanager
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-kube-operator
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-kube-prometheus
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-kube-state-metrics
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-prometheus-node-exporter
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  injection: disabled

networkPolicies:
  enabled: false
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
    # See `kubectl cluster-info` and then resolve to IP
  controlPlaneCidr: 0.0.0.0/0
  # Additional network policies
  # ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
  additionalPolicies: []

monitoring:
  enabled: false
  namespace: monitoring

bbtests:
  enabled: false